<div class="container index-content">
  <div class="row">
    <div class="menu col-md-12 col-lg-2">
      <div class="sort-menu">
        <ul>
          <li class="btn">並び替え</li>
        </ul>
      </div>
      <div class="search-menu">
        <ul>
          <li><input placeholder="文章を検索" type="text" value=""></input></li>
          <li><input placeholder="ユーザーを検索" type="text" value=""></input></li>
          <li><input placeholder="タグを検索" type="text" value=""></input></li>
        </ul>
      </div>
    </div>

    <div class="main col-md-12 col-lg-10">
      <div class="post">
        <p class="user">
          Aさんの投稿
        </p>
        <div class="post-part" style="padding:20px 0">
          <table class="table sentence-table">
            <thead>
              <tr><th>日本語</th><th>英語</th></tr>
            </thead>
            <tbody>
              <tr><th>これはペンです。</th><th>This is a pen.</th></tr>
            </tbody>
          </table>
        </div>
        <div class="post-part" style="padding:20px 0">
          <table class="table words-table">
            <thead>
              <tr><th>日本語</th><th>英語</th></tr>
            </thead>
            <tbody>
              <tr><th>これ</th><th>this</th></tr>
              <tr><th>ペン</th><th>pen</th></tr>
              <tr><th>〜です</th><th>is</th></tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="post">
        <p class="user">
          Aさんの投稿
        </p>
        <div class="post-part" style="padding:20px 0">
          <table class="table sentence-table">
            <thead>
              <tr><th>日本語</th><th>英語</th></tr>
            </thead>
            <tbody>
              <tr><th>これはペンです。</th><th>This is a pen.</th></tr>
            </tbody>
          </table>
        </div>
        <div class="post-part" style="padding:20px 0">
          <table class="table words-table">
            <thead>
              <tr><th>日本語</th><th>英語</th></tr>
            </thead>
            <tbody>
              <tr><th>これ</th><th>this</th></tr>
              <tr><th>ペン</th><th>pen</th></tr>
              <tr><th>〜です</th><th>is</th></tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="post">
        <p class="user">
          Aさんの投稿
        </p>
        <div class="post-part" style="padding:20px 0">
          <table class="table sentence-table">
            <thead>
              <tr><th>日本語</th><th>英語</th></tr>
            </thead>
            <tbody>
              <tr><th>これはペンです。</th><th>This is a pen.</th></tr>
            </tbody>
          </table>
        </div>
        <div class="post-part" style="padding:20px 0">
          <table class="table words-table">
            <thead>
              <tr><th>日本語</th><th>英語</th></tr>
            </thead>
            <tbody>
              <tr><th>これ</th><th>this</th></tr>
              <tr><th>ペン</th><th>pen</th></tr>
              <tr><th>〜です</th><th>is</th></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>