<div class="clearfix">
  <div class="menu">
    <div class="sort-menu">
      <ul>
        <li class="btn">並び替え</li>
      </ul>
    </div>
    <div class="search-menu">
      <ul>
        <li class="btn">単語検索</li>
        <li class="btn">ユーザー検索</li>
        <li class="btn">タグ検索</li>
      </ul>
    </div>
  </div>


  <div class="main">
    <div class="post clearfix">
      <p class="user">Aさんの投稿</p>
      <div class="sentence">
        <p class="sentence-ja">
        これはペンです。
        </p>
        <p class="sentence-en">
        This is a pen.
        </p>
      </div>
      <div class="words">
        <div class="word clearfix">
          <p class="word-ja">
            これ
          </p>
          <p class="word-en">
            this
          </p>
        </div>
        <div class="word">
          <p class="word-ja">
            ぺん
          </p>
          <p class="word-en">
            pen
          </p>
        </div>
      </div>
    </div>
    <div class="post clearfix">
      <p class="user">Aさんの投稿</p>
      <div class="sentence">
        <p class="sentence-ja">
        これはペンです。
        </p>
        <p class="sentence-en">
           This is a pen.
        </p>
      </div>
      <div class="words">
        <div class="word clearfix">
          <p class="word-ja">
            これ
          </p>
          <p class="word-en">
            this
          </p>
        </div>
        <div class="word">
          <p class="word-ja">
            ぺん
          </p>
          <p class="word-en">
            pen
          </p>
        </div>
      </div>
    </div>
    <div class="post clearfix">
      <p class="user">Aさんの投稿</p>
      <div class="sentence">
        <p class="sentence-ja">
        これはペンです。
        </p>
        <p class="sentence-en">
           This is a pen.
        </p>
      </div>
      <div class="words">
        <div class="word clearfix">
          <p class="word-ja">
            これ
          </p>
          <p class="word-en">
            this
          </p>
        </div>
        <div class="word">
          <p class="word-ja">
            ぺん
          </p>
          <p class="word-en">
            pen
          </p>
        </div>
      </div>
    </div>    <div class="post clearfix">
      <p class="user">Aさんの投稿</p>
      <div class="sentence">
        <p class="sentence-ja">
        これはペンです。
        </p>
        <p class="sentence-en">
           This is a pen.
        </p>
      </div>
      <div class="words">
        <div class="word clearfix">
          <p class="word-ja">
            これ
          </p>
          <p class="word-en">
            this
          </p>
        </div>
        <div class="word">
          <p class="word-ja">
            ぺん
          </p>
          <p class="word-en">
            pen
          </p>
        </div>
      </div>
    </div>
        <div class="post clearfix">
      <p class="user">Aさんの投稿</p>
      <div class="sentence">
        <p class="sentence-ja">
        これはペンです。
        </p>
        <p class="sentence-en">
           This is a pen.
        </p>
      </div>
      <div class="words">
        <div class="word clearfix">
          <p class="word-ja">
            これ
          </p>
          <p class="word-en">
            this
          </p>
        </div>
        <div class="word">
          <p class="word-ja">
            ぺん
          </p>
          <p class="word-en">
            pen
          </p>
        </div>
      </div>
    </div>



  </div>
