<div class="container index-content">
  <div class="row">
    <div class="menu col-md-12 col-lg-2">
      <div class="wrapper">
        <div class="mypage-user">
          <h3><%= link_to 'Aさんのページ', user_path %></h3>
        </div>
        <div class="create-folder">
          <ul>
            <li>
              <input placeholder="新しいボックスを作成" type="text" value=""></input>
              <button class="btn btn-primary">
                <i class="glyphicon glyphicon-inbox"></i>
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div class="folds-menu">
        <h4>ボックス一覧</h4>
        <ul>
          <li><a href="/folds/1"></a>お気に入り</li>
          <li><a href="/folds/2"></a>TOEIC</li>
          <li><a href="/folds/3"></a>日常会話</li>
        </ul>
      </div>
    </div>


    <div class="main col-md-12 col-lg-10">
      <div class="post">
        <div class="post-inner">
          <div class="user clearfix">
            <div class="name">Aさんの投稿</div>
            <div class="time">◯月◯日◯時◯分</div>
          </div>
          <div class="post-part">
            <table class="table table-bordered sentence-table">
              <thead>
                <tr class="warning"><th>文（日本語）</th><th>文（英語）</th></tr>
              </thead>
              <tbody>
                <tr><th>これはペンです。</th><th>This is a pen.</th></tr>
              </tbody>
            </table>
          </div>
          <div class="post-part">
            <table class="table table-borderd words-table .table-responsive">
              <thead>
                <tr class="warning"><th>単語（日本語）</th><th>単語（英語）</th></tr>
              </thead>
              <tbody>
                <tr><th>これ</th><th>this</th></tr>
                <tr><th>ペン</th><th>pen</th></tr>
                <tr><th>〜です</th><th>is</th></tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="post">
        <div class="post-inner">
          <div class="user clearfix">
            <div class="name">Aさんの投稿</div>
            <div class="time">◯月◯日◯時◯分</div>
          </div>
          <div class="post-part">
            <table class="table table-bordered sentence-table">
              <thead>
                <tr class="warning"><th>文（日本語）</th><th>文（英語）</th></tr>
              </thead>
              <tbody>
                <tr><th>これはペンです。</th><th>This is a pen.</th></tr>
              </tbody>
            </table>
          </div>
          <div class="post-part">
            <table class="table table-borderd words-table .table-responsive">
              <thead>
                <tr class="warning"><th>単語（日本語）</th><th>単語（英語）</th></tr>
              </thead>
              <tbody>
                <tr><th>これ</th><th>this</th></tr>
                <tr><th>ペン</th><th>pen</th></tr>
                <tr><th>〜です</th><th>is</th></tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="post">
        <div class="post-inner">
          <div class="user clearfix">
            <div class="name">Aさんの投稿</div>
            <div class="time">◯月◯日◯時◯分</div>
          </div>
          <div class="post-part">
            <table class="table table-bordered sentence-table">
              <thead>
                <tr class="warning"><th>文（日本語）</th><th>文（英語）</th></tr>
              </thead>
              <tbody>
                <tr><th>これはペンです。</th><th>This is a pen.</th></tr>
              </tbody>
            </table>
          </div>
          <div class="post-part">
            <table class="table table-borderd words-table .table-responsive">
              <thead>
                <tr class="warning"><th>単語（日本語）</th><th>単語（英語）</th></tr>
              </thead>
              <tbody>
                <tr><th>これ</th><th>this</th></tr>
                <tr><th>ペン</th><th>pen</th></tr>
                <tr><th>〜です</th><th>is</th></tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>