<div class="contnainer">
  <div class="row">
    <div class="box col-xs-10 col-xs-push-1">
      <div class="upper">
        <h2>Developer's Memo</h2>
        <h1>開発メモ</h1>
        <h3></h3>
      </div>
      <div class="lower develop">
        <h3>今後、付け加えたい機能</h3>
        <ul>
          <li>SNSサイトのようなタイムラインの無限スクロール</li>
          <li>単語自動の入力ボタン<a href="/abouts/auto">（詳細）</a>に英和辞書の機能を追加して、自動で単語を読み込ませたい。いい英和辞典のAPI知ってる方教えてください。</li>
        </ul>
        <h3>現在のバグ</h3>
        <ul>
          <li>favoriteボタンの反応が悪いです。</li>
          <li>自分以外のマイページ内で、favoriteの取り消しを行うと、その文が表示されなくなります。ページを読み込むと直ります。</li>
        </ul>
        <h3>変更履歴</h3>
          <ul>
            <li>2017.03.08  サイトオープン</li>
            <li>2017.03.09  プロフィールにサムネイル画像投稿機能を追加</li>
            <li>2917.03.10  ページ遷移のバグ修正、英単語を抜き出すボタンのバグ修正</li>
          </ul>
      </div>
    </div>
  </div>
</div>