<div class="contnainer">
  <div class="row">
    <div class="box col-xs-10 col-xs-push-1">
      <div class="upper">
        <h2>Developer's Memo</h2>
        <h1>開発メモ</h1>
        <h3></h3>
      </div>
      <div class="lower develop">
        <h3>今後、付け加えたい機能</h3>
        <ul>
          <li>プロフィール画像投稿機能</li>
          <li>SNSサイトのようなタイムラインの無限スクロール</li>
          <li>単語自動の入力ボタンに英和辞書の機能を追加</li>
        </ul>
        <h3>現在のバグ</h3>
        <ul>
          <li>favoriteボタンの反応が悪いです。
          </li>
          <li>自分以外のマイページ内で、favoriteの取り消しを行うと、その文が表示されなくなります。ページを読み込むと直ります。
          </li>
          <li>英単語自動入力ボタンの反応が悪いです。
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>