<div class="container">
    <p>サンプルサンプルサンプル<br>
    サンプルサンプル</p>
    <h1>BENTO</h1>
    <h2>サンプルサンプルサンプル
    サンプルサンプル</h2>
  </div>
<%= link_to 'LOGOUT', destroy_user_session_path, method: :delete %>

<p>あ</p>
<p>あ</p>
<p>あ</p>
<p>あ</p>
<p>あ</p>
<p>あ</p>
<p>あ</p>
<p>あ</p>
<p>あ</p>
<p>あ</p>
<p>あ</p>
<p>あ</p>
<p>あ</p>
<p>あ</p>
<p>あ</p>
<p>あ</p>
<p>あ</p>
<p>あ</p>
<p>あ</p>
<p>あ</p>
<p>あ</p>
<p>あ</p>
<p>あ</p>
<p>あ</p>
<p>あ</p>
<p>あ</p>
<p>あ</p>
<p>あ</p>
<p>あ</p>
<p>あ</p>
<p>あ</p>
<p>あ</p>
