<div class="contnainer">
  <div class="row">
    <div class="box col-xs-10 col-xs-push-1">
      <div class="upper">
        <h2>What is BENTO？</h2>
        <h1>みんなでシェアする英語学習教材</h1>
        <h3>短文をシェアし合い、自分に合ったオリジナルの教材を作成</h3>
      </div>
      <div class="lower">
        <img alt="logo" src="/assets/about1.png" />
      </div>
    </div>
    <div class="box col-xs-10 col-xs-push-1">
      <div class="upper">
        <h2>How to Use？</h2>
        <h1>「文＋単語」で最速の学習を</h1>
        <h3>セットで入力、投稿ぽちっ。</h3>
      </div>
      <div class="lower">
        <img alt="how to post" src="/assets/about2.png" />
      </div>
    </div>
    <div class="box col-xs-10 col-xs-push-1">
      <div class="upper">
        <h2>My BENTO？</h2>
        <h1>お弁当におかずを詰める感覚でテキスト作成</h1>
        <h3>そのあと、頑張るかは、あなた次第。</h3>
      </div>
      <div class="lower">
        <img alt="how to collect" src="/assets/about3.png" />
      </div>
    </div>

    <div class="box box2 col-xs-10 col-xs-push-1">
      <div class="upper">
        <h2>Recommended Usage</h2>
        <h1>３つのオススメ利用法</h1>
        <h3> </h3>
      </div>
      <div class="lower">
        <div class="for-center">
          <ol>
            <li>１.語彙強化　　　　　</li>
            <li>２.スピーキング力強化</li>
            <li>３.ライティング力強化</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>