// Place all the styles related to the abouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.level{
}
.row .box{
  margin: 20px 0;
  box-shadow: 10px 10px 10px;
  padding: 0;
  border-radius: 30px;
}
.box .upper{
  background-color: #FF8000;
  text-align: center;
  border-radius: 30px 30px 0 0;
}
.box h1, .box h2, .box h3{
  margin: 0;
  color: #000000;
}
.box h2{
  font-family: "Courier",monospace;
  padding: 20px;
  font-size: 20px;
}
.box h1{
  font-family: "Hiragino Kaku Gothic Std";
  padding: 10px;
  font-weight: bold;
  font-size: calc(120% + 0.8vw);
}
.box h3{
  padding: 20px;
  font-size: 18px;
}
.lower{
  background-color: white;
  text-align: center;
  border-radius: 0 0 30px 30px;
}
.lower img{
  width: 90%;
  border-radius: 0 0 30px 30px;
  padding: 20px;
}



.box2 .upper{
  background-color: #E7BA29;
}
.for-center{
  margin: 0 auto;
}
.box2 .for-left{
  padding-left: 0;
}
.box2 .lower img{
  width: 100%;
  padding-right: 0;
}
.lower h1{
  padding: 30px;
  font-size: calc(120% + 0.8vw);
  margin: 0;
}
.lower h2{
  font-size: calc(80% + 0.8vw);
}
.lower p{
  font-size: calc(50% + 1vw);
  text-align: center;
}
