// Place all the styles related to the abouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container{
  width: 820px;
  height: 400px;
  margin: 0 auto;
}

.box1{
  background: url();
  background-size: cover;
}

