/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*リセットCSS*/
body {
  background-color: #f0f0f0;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}


/*大枠指定*/
header {
  background-color: blue;
}

.contents {
  background-color: #191919;
}

footer {
  height: 40px;
  background-color: red;
}

/*cleafix*/
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}


/*common*/
/*リンクの下線を消す*/
a {
  text-decoration: none;
}



/*header-container*/
.header-container{
  background-color: #7173FF;
}

.header-container .btn{
  display: inline-block;
  width: 200px;
  line-height: 50px;
  background: white;
  text-align: center;
  color: black;
  border-radius: 5px;
}


/*header-left*/
.header-left{
  background-color: #000080;
  float: left;
}

.header-left h1{
  font-size: 50px;
}

.header-left .btn{
  width: 300px;
}


/*header-right*/
.header-right {
  background-color: #0080FF;
  float: right;
}

.header-right ul li{
  float: left;
  list-style-type: none;
  margin: 10px;
}