/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

 */

@import "bootstrap-sprockets";
@import "bootstrap";


/*大枠指定*/
header {
  // ここに指定しても何も効かない。
}
.navbar{
  background-color: white;
}


.contents {
  padding-top: 110px;
  background: url("bboard.jpg") repeat;
  background-size: 50%;
}

footer {
  height: 30px;
}


.clearfix:after {
  content: "";
  clear: both;
  display: block;
}



/*common*/
/*リンクの下線を消す*/
a {
  text-decoration: none;
}



/*header-container*/
.header-container{
}




// お箸、ハンバーガーメニューのボタン調整
.chop{
  background: url("chops.png") no-repeat;
  background-position: 0%;
  background-size: 700px;
  float: right;
}
.navbar .navbar-header .hunbarger-color{
  background-color: white;
  border-color: black;
}
.navbar .navbar-header .hunbarger-color .icon-bar{
  background-color: black;
}




/*navbar-header*/
.header-container .navbar-header{
}
.navbar-brand{
  background: url("logo.png") no-repeat;
  background-size: contain;
  height: 95px;
  width: 300px;
  padding: 0;
  float: left;
}
//  ヘッダー中央の上へのスムーズスクロール
// #pageTop{
//   position: relative;
//   left: 50%;
//   float: left;
//   background: url("logo2.png") no-repeat;
//   background-size: contain;
//   height: 89px;
//   width: 100px;
//   padding: 0;
// }





/*navbar-nav*/
.header-container .navbar-nav {
  position: relative;
  min-height: 55px;
  margin: 20px 135px 20px 0;
}


.header-container .navbar-right{

}


.header-container .navbar-nav li{
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  width: 100px;
  line-height: 90px;
  background: transparent;
  font-size: 17px;
  margin-left: 10px;
}

.header-container .navbar-nav li a{
  color: black;
}

.nav li a:hover, .nav li a:focus{
  background-color: transparent;
  color: #6A4831;
  font-size: 15px;
}


/*footer*/
footer p{
  font-size: 10px;
  text-align: center;
  line-height: 20px;
  margin: 0;
  height: 100%;
}

footer p img{
  height: 100%;
}


.devise-center{
  margin: 80px auto;
  width: 100%;
}
.devise-center .label{
  color: black;
  font-size: 100%;
  font-weight: normal;
}