// Place all the styles related to the sentences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// 全体
.index-content {
    max-width: 1300px;
    margin: 0 auto;
}


// メニュー
.menu {
  background-color: #FF8000;
  margin-bottom: 10px;
  border-radius: 10px;
}

.menu .current-sentences h3, .menu .current-sentences p{
  margin-top: 10px;
}


.menu .sort-menu .btn{
  border-color: none;
}

.menu ul{
  list-style: none;
  padding: 0;
}

.menu ul li input{
  width: 75%;
  height: 34px;
}

.menu .wrapper{
  text-align: center;
}
.menu .wrapper .btn{
  display: inline-block;
}


.search-menu{
  margin-top: 70px;
}







// メイン
.main{
}


.main .post{
  margin: 0 auto 10px;
  margin-bottom: 30px
}

.main .post .post-part{
}

.main .post .post-part table {
  table-layout: fixed;
  width: 100%;
  margin-bottom: 0;
}


.main .post .post-part .index-name{
  font-size: 20px;
  margin: 0 10px;
}

.en_sentence p{
  word-wrap: break-word;
}


// 単語用のボタン位置
.main .wrapper{
  text-align: left;
}
.main .wrapper .btn{
  display: inline-block;
}

.post .panel-body{
  padding: 0;
  background-color: transparent;
}


.post .sentence-table, .post .words-table {
  background-color: white;
}
