// Place all the styles related to the sentences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// 全体
.index-content {
    max-width: 1300px;
    margin: 0 auto;
}


// メニュー
.menu {
  background-color: #FF8000;
  height: 500px;
  // width: 200px;
  margin-top: 120px;
}

.menu .btn{
  display: inline-block;
  width: 120px;
  line-height: 30px;
  background: white;
  text-align: center;
  color: black;
  border-radius: 5px;
  margin: 5px;
}

.menu .search-menu ul{
  list-style: none;
}


// メイン
.main{
}


.main .post{
  background-color: #E6E6E6;
  width: 95%;
  margin: 0 auto;
}

.post .post-part{
}

.post .sentence-table, .post .words-table {
  width: 100%;
}
